<app-nav></app-nav>
<cdk-virtual-scroll-viewport
  #scroller
  [itemSize]="isMobile ? 272 : 368"
  class="photo-scroll-viewport"
>
  <main class="photo-list-container">
    <!-- Photo List -->
    <app-photo
      *cdkVirtualFor="let photo of photoList"
      [photo]="photo"
    ></app-photo>
    <!-- Photo Skeleton -->
    <app-photo *ngIf="!errorMsg; else isError"></app-photo>
    <!-- Error Message -->
    <ng-template #isError>
      <div class="error">{{ errorMsg }}</div>
    </ng-template>
  </main>
</cdk-virtual-scroll-viewport>