.photo-scroll-viewport {
  height: calc(100% - 4rem);
  width: 100%;

  .photo-list-container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 31.25rem;
  }
}

.error {
  padding: 0.5rem;
  background: #f44336;
  color: white;
  border-radius: 8px;
}
