<nav class="nav">
  <a
    href="https://ryankeng.com"
    title="Ryan Keng"
    class="logo-wrapper"
  >
    <img
      height="32"
      width="32"
      src="https://ryankeng.com/img/rk-logo-light.svg"
      alt="Ryan Keng"
      class="logo"
    >
  </a>
  <span>Lorem Picsum Infinite Scroll</span>
  <a
    href="https://github.com/rkeng/lorem-picsum-infinite-scroll"
    title="Visit GitHub repo"
    class="logo-wrapper"
    style="margin-left: auto;"
    target="_blank"
    rel="noreferrer"
  >
    <img
      height="32"
      width="32"
      src="assets/gh-mark-light.png"
      alt="GitHub"
      class="logo"
    >
  </a>
</nav>