/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: "Lora", serif;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

// Pulse for skeleton screens: https://codepen.io/kendrick/pen/WxNwdE

.pulse {
  $from: #f5f5f5;
  $to: scale-color($from, $lightness: -10%);

  height: 100%;
  width: 100%;
  background: linear-gradient(-90deg, #efefef 0%, #fcfcfc 50%, #efefef 100%);
  background-size: 400% 400%;
  animation: pulse 1.2s ease-in-out infinite;
  @keyframes pulse {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: -135% 0%;
    }
  }
}
