<div class="card">
  <div
    class="card-content"
    [ngStyle]="{'background-image': photo && (photo.height > photo.width) ? blurredUrl : 'none'}"
  >
    <div
      *ngIf="!photo; else showPhoto"
      class="pulse"
    ></div>
    <ng-template #showPhoto>
      <img
        [src]="photo.download_url"
        [alt]="'Author: ' + photo.author"
        height="300"
        width="300"
        loading="lazy"
        class="photo"
      >
    </ng-template>
  </div>

  <div class="card-title">
    <div
      *ngIf="!photo; else showAuthor"
      class="pulse"
    ></div>
    <ng-template #showAuthor>
      <span>{{ photo.author }}</span>
    </ng-template>
  </div>
</div>